

footer{
	background-color: $footer-background-color;
	
	.copyright-info{
    display: flex;
	justify-content: space-between;
	}
	ul{
	padding-left: 0;
	}
	li{
		list-style-type: none;
		display: inline-block;
		margin-left: 5px;

	}
}