
body {
  font-family: $base-font-family;
	color:$primary-color;
 
  
    }
#wrapper{
	position:relative;
	overflow: hidden;
	margin: 0 auto;

}

.content{

	max-width:1062px;
	position:relative;
	margin: 0 auto;

	img{
		display: block;
		margin-bottom: 50px;
		margin: 0 auto;
		width: 100%;
	   }
		p{
			
			a{
				font-family: $links-font-family;
				text-transform: uppercase;
	            font-size: 14px;
	            text-decoration: none;
				color:$links-color;

				&:hover{
					color:$hover-color;

				}
			}
		}
	h1{
      font-family: $title-font-family;
      font-weight: bold;
	 }
	 p{
	 	font-family: $base-font-family;
	 }
	 h2,
	 h3,
	 h4{
        font-family:$base-font-family ;
        font-weight: bold;
	 }
	 li{
	 	font-family: $base-font-family;
	    a{
	    	color:red;
	    }
	 }
	 q{
	 	font-family: $base-font-family;
	    text-align: center;
	 }

}



