$base-font-family: 'Georgia', sans-serif;
$head-line-font-family:'Times New Roman',sans-serif;
$links-font-family:'Arial',sans-serif;
$primary-color:#626262;
$links-color:#cdc8bf;
$hover-color:#ed4949;
$title-font-family:'Times New Roman',sans-serif;