$base-font-family: 'colablig-webfont';
$base-text-color: #d2d2d5;
$btn-color: #255dac;
$icon-color:#ff5e6b;
$secondary-font-family: 'AlexandriaFLF';
$headings-font-family: "ChunkFive";
$hover-nav-color:#d2d2d5;
$grid-count: 12;
$hover-text-color:#1b1b2e;
$white:#fff;
$gray:#505050;
$gray-lighter:#9e9e9e;
$dark-blue:#323243;
$grey-darken:#bdbdbd;
$link-color:#687b96;
$footer-background:#363647;
$footer-letter-color:#a2a2ad;
$input-color:#242439;
$social-hover:#464659;
$border-input-bottom:#505060;
$border-input-top:#12121d;
$subscribe-button-color:#e7e8ea;
$button-text-color:#363648;


$breakpoints: (
	sm: 768px,
	md: 1024px,
	lg: 1200px,

);