$base-font-family: 'Open Sans', sans-serif;
$base-text-color: #000000;
$button-color: #ff2d2d;
$icon-color:#ff5e6b;
$secondary-font-family: Arial;
$headings-font-family: "Times New Roman", monospace;
$footer-background-color:#313030;
$gray: #626262;
$gray-light: #b4ad9e;
$gray-lighter: #f0f0f0;
$red: #ea1313;
$black: #000;
$pink-gray: #f6f2f2;
$white: #fff;
$light-red:#fcbcbc;
$pink:#f5f0dd;

$base-text-color: $gray;
$link-color: $gray;
$link-hover-color: $red;